*{
    box-sizing: border-box;
}
.image img{

    width: 90%;
    /* height: 90; */
    /* padding: 20px; */
    object-fit: contain;

}
.image{
    display: flex;
    justify-content: center;
    /* object-fit: contain; */
}
.row{
    display: flex;
    /* justify-content: center; */
    align-items: center;

}
.details{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.product-name{
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    margin-top: 5px;
    font-weight: 500;
    }
    .product-price{
    font-size: 25px;
    font-weight: 500;
    }
    .product-type{
        color: gray;
    }
    
    .strikedPrice{
        color: gray;
        text-decoration: line-through;
        margin-left: 5px;
    }
    .product-info{
        font-size: 18px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
    }
    .saved-price{
        color: red;
        font-size: 17px;

    }

    .btn{

        width: 134px;
    height: 48px;
    color: white;
    /* background-color: green; */
    
}
#buy-btn{
    background-color: green;
    margin: 14px;
    
}
#cart-btn{
        background-color: orange;

    }