<div>
    <table mat-table [dataSource]="productList" class="mat-elevation-z8">
    
    
        <!-- Position Column -->
        <button mat-raised-button color="primary">hhhhh</button>
        <ng-container matColumnDef="Name">
        <th mat-header-cell *matHeaderCellDef> Name </th>
        <td mat-cell *matCellDef="let element"> {{element.productName}} </td>
      </ng-container>
    
      <!-- Name Column -->
      <ng-container matColumnDef="type">
        <th mat-header-cell *matHeaderCellDef> Type </th>
        <td mat-cell *matCellDef="let element"> {{element.productType}} </td>
      </ng-container>
    
      <!-- Weight Column -->
      <ng-container matColumnDef="Desc">
        <th mat-header-cell *matHeaderCellDef> Description </th>
        <td mat-cell *matCellDef="let element"> {{element.productDesc}} </td>
      </ng-container>
    
      <!-- Symbol Column -->
      <ng-container matColumnDef="Price">
        <th mat-header-cell *matHeaderCellDef> Price </th>
        <td mat-cell *matCellDef="let element"> {{element.productPrice|currency:'INR'}} </td>
      </ng-container>
      <ng-container matColumnDef="Image">
        <th mat-header-cell *matHeaderCellDef> Image </th>
        <td mat-cell *matCellDef="let element"><img [src]="element.productImageUrl" alt=""> </td>
      </ng-container>


      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Actions </th>
        <td mat-cell *matCellDef="let element"><button mat-icon-button color="warn" (click)="delete(element.id)"><mat-icon>delete</mat-icon></button> </td>
      </ng-container>

      
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</div>

<div id="del_msg" *ngIf="deleteMsg">{{deleteMsg}}</div>    