div{
    max-width: 98%;
    margin: auto;
    margin-top: 15px;

}
img{
    width: 100px;
}


#del_msg{
    color: green;
    font-size: large;
    text-align: center;
    font-weight: 800;
    margin-bottom: 30px;
    position: absolute;
    top:0%;
    left:40%;
    padding: 30px;
    background-color: white;
    z-index: 100;
    box-shadow: 0 0 13px 5px rgba(0, 0, 0, 0.1);
}