form{
    max-width: 400px;
    min-width: 400px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    /* margin:40px auto; */
    border: 1px solid rgba(0,0,0,0.1);
}

h2{
    margin-top: -20px;
    margin-bottom: 30px;
}

a{
    color: blue;
    cursor: pointer;
    
}
p{
    margin-top: 30px;

}
.hero-area{
    margin: 10px;
}
.form{
    margin: 10px;
    /* margin: dis; */
    /* display: flex; */
    height: max-content;
    justify-content: center;
    align-items: center;
}
.form-col{
    display: flex;
    justify-content: center;
    align-items: center;
}